@media (max-width:1024px)
    .header
        &__container
            max-width: 680px
        &__menu
            display: none
            background-color: #fff
            position: absolute
            right: 0px
            top: 0px
            flex-direction: column
            justify-content: start
            align-items: center
            &__btn
                display: block
                &-close
                    align-self: end
                    display: block
                    margin: 10px 10px 0 0
            &__link
                padding: 20px 0
                font-size: 22px
                text-align: center
    .hero
        padding-top: 120px
        &__content
            max-width: 680px
        &__title
            &__mini
                &>h2
                    font-size: 16px
            &__big
                &>h2
                    font-size: 22px
            &__text
                &>p
                    font-size: 18px
                    font-weight: 500
        &__btns
            max-width: 400px
            margin-bottom: 150px
        &__btn
            &__orange
                width: 160px
                height: 50px
                font-size: 16px
            &__light
                width: 160px
                height: 50px
                font-size: 16px
        &__info
            &__container
                flex-direction: column
                padding: 0
                max-width: 680px

            &__text
                max-width: 100%
    .prossec
        &__title
            margin-bottom: 30px
            &>h2
                font-size: 38px
                font-weight: 700

    .reasons
        &__container
        &__filter
            &-background
                display: block
        &__img
            display: none
        &__list
            &__wrapper
    .swiper-comment
        &__container
            max-width: 680px
    .contact
        &__container
            max-width: 680px
            margin: auto
            padding: 75px 0
            flex-direction: column
        &__list
            margin-bottom: 40px
            &__desription
                margin-bottom: 20px
            &__links
                align-self: start
        &__form
            max-width: 100%
            &__btn
                justify-content: start
    .btn__come_start
        width: 65px
        height: 65px
        &>a>svg
            height: 45px
            width: 45px
